@using Crito.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "LayoutWithBreadcrumb.cshtml";

    var contactForm = new ContactForm();
}

<section class="contactinfo-section">
    <div class="container">
        <div class="info-container">
            <div class="infobox">
                <div class="black-circle"><i class="fa-sharp fa-regular fa-location-dot"></i></div>
                <div class="text-container">
                    <h5>Visit us</h5>
                    <div class="info-box-text">
                        <p>@Model.Value("contactInformationStreetName")</p>
                        <p>@Model.Value("contactInformationPostalCode") @Model.Value("contactInformationCity")</p>
                    </div>
                </div>
            </div>
            <div class="infobox">
                <div class="black-circle"><i class="fa-regular fa-phone-volume"></i></div>
                <div class="text-container">
                    <h5>Call us</h5>
                    <div class="info-box-text">
                        <p>@Model.Value("contactInformationPhoneNumber1")</p>
                        <p>@Model.Value("contactInformationPhoneNumber2")</p>
                    </div>
                </div>
            </div>
            <div class="infobox">
                <div class="black-circle"><i class="fa-regular fa-envelope"></i></div>
                <div class="text-container">
                    <h5>Email us</h5>
                    <div class="info-box-text">
                        <p>@Model.Value("contactInformationEmail1")</p>
                        <p>@Model.Value("contactInformationEmail2")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contactform-section">
    <div class="form-container">
        <h2 class="form-title">Leave us a message for any information.</h2>

        @using (Html.BeginUmbracoForm("Index", "Contacts", FormMethod.Post))
        {
            <div asp-validation-summaty="ModelOnly"></div>
            
            <input asp-for="@contactForm.Name" type="text" placeholder="Name*">
            <input asp-for="@contactForm.Email" type="email" placeholder="Email*">
            <textarea asp-for="@contactForm.Message" placeholder="Your Message*"></textarea>

            <div class="d-grid">
                <button type="submit" class="btn-theme-wide">Send Message <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        }
    </div>
</section>

<section class="googlemaps-section">
    <iframe src="@Model.Value("googleMapsUrl")" width="1920" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>